{% extends "base.html" %} {% load static %}
<div></div>
{% block stylesheet %}<link rel="stylesheet" href="{% static "author.css" %}"/>
<link rel="stylesheet" href="{% static "form.css" %}" /> {%endblock stylesheet%}
<div></div>
{%block body%}
<section>
  <h1>Log in as Author</h1>
  <form action="/login" method="POST" id="form">
    {%csrf_token%}
    {%if messages %}
        {%for message in messages %}
            <p style="color:red;">{{message}}</p>
        {%endfor%}
    {% endif%}
    <label for="email">Enter Your Email</label>
    <input type="email" id="email" name="email" />
    <label for="password">Enter Your Password</lable>
    <input type="password" id="email" name="password" />
    <button class="btn" id="loginbtn">Log In</button>
  </form>
</section>
<a href="/create-author">Create account</a>
{%endblock body%}
